

.header-title {
    font-size: large;
    font-weight: bold;
}

.padding-left15 {
    padding-left: 15px;
}

.padding-right15 {
    padding-right: 15px;
}

.float-right {
    float: right !important;
}

div.progress-bar {
    margin-left: -100px;
}


div.main-content {
    margin-top: 20px;
}

div.event-item {
    margin-top: 40px;
}

div.padding-top40 {
    margin-top: 30px;
}


.borderless.table > tbody > tr > td {
    border: none !important;
    padding: 0px !important;
    border-top: none !important;
}

span.Confirmed {
    background-color: lightgrey;
}

span.Declined {
    background-color: lightcoral;
}

/*
.timeline {
    position: relative;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    counter-reset: section;
}


.timeline {
    content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    width: 2px;
    background: #000;
    left: -25px;
    margin: 0;
    border-radius: 2px;
}
*/

