
<div class="main-content">

    <button class="btn btn-info btn-lg" (click)="start()">Start Booking</button>
    <button class="btn btn-danger btn-lg" (click)="cancel()">Cancel Booking</button>



    <div class="event-item table-responsive" *ngIf="eventData?.eventId">
        <table class="table borderless">
            <tr>
                <td width="90">
                    {{ eventData?.createTime | date: "shortTime" }}
                </td>
                <td width="30">
                    <i class="icon-start glyphicon glyphicon-triangle-right"></i>
                </td>
                <td class="timeline">
                    <p class="header-title">Booking Started</p>
                    <p>{{ eventData?.createTime }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix clear"></div>

    <div class="event-item table-responsive padding-top40" *ngIf="sendInvFlag">
        <table class="table borderless">
            <tr>
                <td width="90">
                    {{ eventData?.createTime | date: "shortTime" }}
                </td>
                <td width="30">
                    <i class="icon-start glyphicon glyphicon-triangle-right"></i>
                </td>
                <td class="timeline">
                    <p class="header-title">Send Invitation</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Request Sent</th>
                                <th>Response Received</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inv of eventData?.invitations">
                                <td>{{ inv.name}}</td>
                                <td>{{ inv.requestSentTime | date:'medium'}}</td>
                                <td>{{ inv.responseTime | date:'medium'}}</td>
                                <td> <span [ngClass]="getStatusString(inv.status)">{{ getStatusString(inv.status) }}</span></td>
                            </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
        </table>
    </div>


</div>


